{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    [
      "module-resolver",
      {
        "alias": {
          "@rvmob": "./src",
          "@rvmob-i18n": "./i18n"
        }
      }
    ]
  ]
}
